<div style="overflow: auto; background: black;">
  <ion-toolbar>
    <ion-title>
      Ionic Tokbox Video
    </ion-title>
  </ion-toolbar>
  <div class="cc" text-center *ngIf="roomJoined && joinCount">
    <div id="subscriber"></div>
  </div>
  <div id="controls" text-center>
    <div>
      <p class="instructions">Hello Beautiful</p>
      <div id="publisher"></div>
    </div>
    <div id="room-controls">
      <ion-button shape="round" color="primary"
                  (click)="joinRoom()"
                  *ngIf="!roomJoined">Join Room</ion-button>
      <ion-button shape="round" color="primary"
                  (click)="leaveRoom()"
                  *ngIf="roomJoined">Leave Room</ion-button>
    </div>
  </div>
</div>
